.modal {    
    display: flex;
    justify-content: center;
    z-index: 5;
}

.modalBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    filter: blur(7px) brightness(60%);
    backdrop-filter: blur(7px) brightness(60%);
    -webkit-backdrop-filter: blur(7px) brightness(60%);
    z-index: 3;
}

.modalCard {
    margin: 120px 0 0 0;
    width: auto;
    max-width: 80vw;
    max-height: 75vh;
    position: fixed;
    background-color: #f4f4f4;
    border-radius: 15px;
    border: 3px solid #181f25;
    z-index: 5;
    overflow: auto;
    scrollbar-width: none;
}

.modalCard::-webkit-scrollbar {
    display: none;
}

.fixedModalCardHead {
    position: sticky;
    top: 0;
}

.modalCardHead {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: auto;
    background-color: #626267;
    border-radius: 10px 10px 0 0;
    border-bottom: 3px solid #181f25;
    z-index: 2;
}

.modalCardHead img {
    width: 130px;
    height: 91;
}

#space {
    width: 20px;
    height: 20px;
}

#logo  {
    width: 120px;
    height: 92px;
}

#closeImg {
    width: 20px;
    height: 20px;
}

.modalCardBody {
    margin: 0;
    border-radius: 0 0 15px 15px;
    overflow: auto;
    z-index: 2;
}

.hide {
    display: none;
}

.modalSection {
    display: flex;
    justify-content: center;
}