.contact {
    margin: 80px 0 0 0;
    width: max-content;
    max-width: 80vw;
    height: fit-content;
    overflow-x: hidden;
}

.contact form {
    padding-left: 15px;
    font-size: 1.2rem;
    font-weight: 500;
}

.contact h2 {
    padding-left: 15px;
    font-size: 1.6rem;
}

.contact input {
    max-width: 75vw;
    margin-bottom: 15px;
    font-size: 1.3rem;
    border-radius: 5px;
    border: 2px solid #68687c;
}

.contact img {
    margin: -10px 0 -4px 0;
    width: 600px;
    height: auto;
    border-top: 3px solid #181f25;
}

#comment {
    font-size: 1.1rem;
    width: 400px;
    max-width: 70vw;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #68687c;
}

#agent {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: 500;
}

#agent a {
    margin: 0 15px 2px 15px;
    padding-inline: 5px;
    text-decoration: none;
    color: #181f25;
    border-radius: 5px;
    border: 2px solid #181f25;
}

address {
    margin: 0 0 16px 0;
}