.header {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #7ac4ea;
}

.headerVideo {
    min-width: 100vw;
}

.headerImage {
    margin: 0 500px;
    left: 0;
    width: 100vw;
    min-width: 100vw;
    height: 600px;
}

@media screen and (max-width: 1600px) {
    .headerVideo {
        min-width: 1600px;
    }
}