#headerContainer {
    margin: 0;
    display: flex;
    justify-content: center;
}

#header {
    text-align: center;
    position: absolute;
    max-width: 70vw;
    margin-top: 10vh;
    padding: 1rem;
    border-radius: 1rem;
    backdrop-filter: blur(7px);    
}

#header img {
    margin-top: 10px;
    width: 65vw;
    max-width: 500px;
    height: auto;
}

#header h2 {
    margin: 25px 0 0 0;
    font-size: 2.2rem;
}

#header p {
    font-size: 1.5rem;
    font-weight: 500;
}

#homeVideo {
    min-height: 50%;
}

