#navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100vw;
    min-height: 50px;
    margin: 0;
    background-color: #f4f4f4;
}

#navContainer a {
    margin: 0 5px 0 5px;
    padding: 0 15px;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: #181f25;
}    

#navContainer span {
    margin: 0 5px 0 5px;
    padding: 0 15px;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: #181f25;
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    #navContainer a {
        font-size: 1.8rem;
    }
  }

@media screen and (max-width: 700px) {
    #navContainer nav {
        display: flex;
        flex-direction: column;
    }

    #navContainer {
        display: flex;
        justify-content: flex-start;
    }
  }