header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100vw;
    background-color: #f4f4f4;
    z-index: 2;
}

a:hover {
    transform: scale(1.2);
}

#links {
    display: flex;
    justify-content: center;
    width: 30vw;
    margin: 0;
    padding: 0;
}

#links img {
    width: 30px;
    height: 30px;
    padding-right: 30px;
}

#cookLogo {
    width: 432px;
    height: 90px;
}

#navBar {
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
    color: #181f25;   
    font-weight: bold; 
    font-size: 1.2rem;
}

#navBar a {
    text-decoration: none;
    color: #181f25;   
}

#navBar span {    
    cursor: pointer;
}

#navBar span:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 1200px) {
    header {
        display: flex;
        flex-direction: column;
        position: fixed;
    }

    #links {
        display: flex;
        align-items: center;
        height: 50px;
        width: 100vw;
    }

    #navBar {
        width: 100vw;
    }
}

@media screen and (max-width: 600px) {
    header {
        display: flex;
        align-items: flex-start;
        position: absolute;
    }

    #links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #cookLogo {
        width: 288px;
        height: 60px;
    }

    #navBar {
        display: flex;
        flex-direction: column;
    }

}