/* ul {
    margin: 2px 0 2px 10px;
    padding: 10px;
    width: 100vw;
    height: auto;
}  */

#footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 250px;
    background-color: #f4f4f4;
}

#footerContainer img {
    width: 150px;
    height: auto;
}

#footerContainer p {
    margin-top: -15px;
}

#footerContainer a {
    text-decoration: none;
    color: #181f25;
}

#footerContainer address {
    margin-top: -15px;
    text-decoration: none;
    color: #181f25;
}